:root{
    --border-color: #3e4194;
}

.login-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 10px;
    animation: Fade-In 0.5s ease-in;
}

.login-container h2 {
    margin-top: 0;
    color: black;
    border-bottom: 2px dashed var(--primary-color);
}

.modal-input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid var(--primary-color);
    outline: none;
    background: transparent;
    transition: border-bottom-color 0.3s ease-in-out;
  }
.modal-input:focus {
    -webkit-outline: none; 
    outline: none;
    -webkit-box-shadow:none;
    box-shadow: none;
}


@keyframes Fade-In {
    0% {
        transform: translateY(-50%, -150%);
        opacity: 0;
    }
    100%{
        transform: translateY(-50%, -50%);
        opacity: 1;
    }
}

.modal-input:focus,
.modal-input:not(:placeholder-shown) {
  border-bottom-color: #ff2222;
}


.input-group{
    position: relative;
    margin-bottom: 10px ;
}

.floating-label{
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 16px;
    color: black;
    pointer-events: none;
    transition: all 0.3s ease;
    pointer-events: none;
}

.modal-input:focus + .floating-label,
.modal-input:not(:placeholder-shown) + .floating-label{
    top: -10px;
    font-size: 16px;
    color:black;
}

.login-button{
  color: var(--primary-color);
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid var(--primary-color);
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
  display: block;
  width: 100%;
}

.login-button:hover {
  color: white;
}

.login-button::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: var(--primary-color);
  z-index: -1;
  transition: all 1s;
}
.login-button:hover::before {
  width: 160%;
}
.close-button {
    color: #ff2222;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #ff2222;
    padding: 10px 20px;
    font-size: 17px;
    cursor: pointer;
    font-weight: bold;
    background: transparent;
    position: relative;
    transition: all 1s;
    overflow: hidden;
    display: block;
    width: 100%;
  }
  
  .close-button:hover {
    color: white;
  }
  
  .close-button::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: #ff2222;
    z-index: -1;
    transition: all 1s;
  }
  
  .close-button:hover::before {
    width: 160%;
  }
  
.message{
    font-size: 12px;
    
}