
.name{
  color:#3e4194;
}

.call-to-action{

bottom: 80px;
right: 20px;
z-index: 1000;
}

.ika{
  color: var(--primary-color);
  font-weight: 800;
  font-size: 30px;
}

.request{
  content: "Solicita una consulta";
   background-color: var(--primary-color);
   color: #ffff;;
   display: block;
   width: 100%;
   transition: background-color 0.4s ease, color 0.4s ease-in ;
   border-radius: none !important;
   padding: 20px;
   box-shadow: rgba(23, 31, 114, 0.2) 0px 16px 30px;
}

.request:hover{
  background-color: #ffff;
  color:var(--primary-color)
}
