.footer-movil-content {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: clamp(50px, 7vw, 90px);
    z-index: 1000;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.essencial-information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


@media (orientation: landscape) and (max-width:940px ) {
    .footer-movil-content {
        background-color: #fff;
    }

    .essencial-information {
        flex-direction: row;
    }
}


@media (max-width: 767px) {
    .footer-movil-content {
        height: clamp(40px, 6vw, 70px);
    }
}

@media (min-width: 768px) and (orientation: landscape) {
    .footer-movil-content {

        background-color: #fff;
    }
}
