
.app-container {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
  }
  
  .main-content {
    flex-grow: 1;
    display: flex;
    margin:0;
    padding: 0;
    justify-content: center;
    align-items: flex-start;
    max-height: 82vh;
    position: relative;
    overflow-y: auto; 

}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}



.callToaction {
  position: absolute;
  bottom: 50px;
  right: 20px;
  z-index: 100;
}


/*  @media  (max-width: 1024px) {
  .main-content {
    margin: 2rem 2rem ; 
  }
  
} */

@media (orientation: landscape) and (max-width: 768px) {
  .main-content {
    min-height:70vh;
  }
  

}

/* @media (orientation: landscape) and (max-height: 368px) {
  .main-content {
    margin: 0rem 5rem ; 

    min-height:50vh;

    overflow-y: auto; 
  }
  
  .callToaction {
    bottom: 20px;
    right: 10px; 
  }
}
/* 📱 Para teléfonos en modo horizontal (landscape) */
/* @media (max-width: 820px) and (orientation: landscape) {
  .main-content {
      margin: 1rem auto;
      min-width: 85vw;
      min-width: 70vw;
      overflow-y: auto;
  }
}



  
  @media (max-width: 768px) {
    .main-content {
        margin: 2rem 1rem;
        min-height: 80vh;
    }
  }
  @media (max-width:369px){
    .main-content {
      margin: 2em 1rem; 
      max-height:80vh;        
      overflow-y: auto; 
    }
  }  */